{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Supprimer la tâche : {{ task.title }}</h1>

    <p>Es-tu sûr de vouloir supprimer cette tâche ? Cette action est irréversible.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
        <a href="{% url 'task_list' %}">Non, revenir à la liste</a>
    </form>    
</body>
</html>
